<footer>
    <p class="copyRight">&copy;2024 RetroReplays. All rights reserved.</p>
    <div class="socials">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
</footer>
</body>
</html>