<%- include('./partials/header.ejs') %>

<main class="homepage-container">
    <h3 style="font-size: 70px;"><%= error.status %> Error <span style="font-size: 40px; color: grey;">- <%= error.message%></span></h3>
</main>

<%- include('./partials/footer.ejs') %>