<%- include('./partials/header.ejs') %>

        <main class="homepage-container">
            <div class="about-us-container">
                <h2 class="company-name">RETRO<span>REPLAYS</span></h2>
                <h2>GAMING <span>REVOLUTIONIZED</span></h2>
                <p>The premiere marketplace to buy and sell gaming's history.</p>
                <div class="button-get-started">
                    <a href="/items">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        BROWSE
                    </a>
                </div>
            </div>
            <img src="/images/Halo_Infinite_master_chief.webp" class="halo-image-container" alt="masterchief png" height="800" width="800">
        </main>

<%- include('./partials/footer.ejs') %>